<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky pt-3">
        <h5 class="px-3">Admin Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Order" asp-action="Index">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="CustomerSupportTicket" asp-action="Index">Support Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>